html, body .container {
  height: 100%;

}
.container {
  display:flex;
  align-items: center;
  justify-content: center;
}

.clock {
  position:relative;
  width: 256px;
  height: 256px;
  background: url(images/clockface.png);
}


.hands {
  position:absolute;
  height:256px;
  top:0;
  left:0;

}
